body{
    background-color:white;
}
img.log{
    position: absolute;
    left:45%;
    height:8%;
    
}
   
.header {
  padding: 10px 16px;
  background: white;
  color: white;
 
}

/* .content {
  padding: 16px;
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
} */



.top-container {
    padding: 10px;
    text-align: center;
    top:1;
    background: white;

  }

.topnav {
  
    left:0%;
    overflow: hidden;
    background-color: rgb(76, 139, 175);
    position: relative;
    top:40px;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 20px;
    left:0%;
  }
  
  .topnav a:hover {
    background-color: #ccc;
    color: black;
  }
  
  .topnav a.active {
    background-color: #ccc;
    color: rgb(0, 0, 0);
  }
 
  
  
  marquee {
  width: 70%;
  padding: 10px 0;
  position: absolute;
  top: 65%;
  margin-left:5%; 
  box-sizing: border-box ;
font-size: 14pt;
  color: red;
  
}
.login
{
    position: absolute;
    right:1%;
    top:24%;
    margin-right:38px; 
    text-align: left;
    width: 350px;
    box-sizing: border-box;
    padding: 40px;
    background: #ccc;
    border-radius: 15%; 
}

li{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type:none;
    color: white;
}
.wrapper .sidemenu  li{

 
padding: 15px;
border-bottom: 1px solid rgba(0,0,0,0.05);
border-top: 1px solid rgba(255,255,255,0.05);
color:black;
cursor: pointer;
}

.wrapper .sidemenu li:hover{
background:  #ffffff;
border-radius: 20px;

}
a{
    text-decoration: none;
    color:black;
    cursor: pointer;

}
.fixed-footer{
    bottom: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(76, 139, 175);
    text-align: center;
    left: 0%;
    width: 100%;
    position: fixed;        
    padding: 5px 0;
}  
img.abc{
    height:40%;
    width:50%;
    position:absolute;
    top:23%;
    left:7%;
}


